
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'font-awesome/scss/font-awesome';

body {
    background: url('/assets/images/background.png') repeat;
    font-family: Arial;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Component styles are injected through grunt
// injector
@import 'todo/todo.scss';
// endinjector