.todos {
    border: #d1cfcf solid 1px;
    border-radius: 1px;
    background-color: #fff;
    max-width: 400px;
    margin: auto;

    ul {
        border-top: #e6ebed solid 1px;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}